<!-- 撰寫 header 區塊 -->
<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark px-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">毛小孩星球</a>

      {{!-- 漢堡排 --}}
      <button class="navbar-toggler" style="position: fixed; right: 0.5rem; top: 0.5rem;" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {{!-- 頁面標題 --}}
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto me-5 mb-2 mb-md-0">

          <li class="nav-item me-1">
            <a href="#activity" class="nav-link text-container">近期活動</a>
          </li>

          <li class="nav-item me-1">
            <a href="#album" class="nav-link text-container">狗兒相片</a>
          </li>

          <li class="nav-item me-1">
            <a href="#adoption" class="nav-link text-container">領養資訊</a>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</header>