<!-- 撰寫 banner 區塊 -->
<section id="activity" class="activity">
  <div class="container">
    <div class="banner-wrapper">
      <div class="main-banner background-image">
        <h1 class="banner-title">帶毛小孩回家吧</h1>
        <p class="banner-description">Bring them back home</p>
        <a href="#adoption" class="action">領養去</a>
      </div>
      <div class="sub-banner sub-banner-left background-image">
        <h1 class="banner-title">捐款送玩偶</h1>
        <p class="banner-description">NTD$100</p>
        <a href="#adoption" class="action">捐款</a>
      </div>
      <div class="sub-banner sub-banner-right background-image">
        <h1 class="banner-title">捐款送狗骨頭</h1>
        <p class="banner-description">NTD$300</p>
        <a href="#adoption" class="action">捐款</a>
      </div>
    </div>
  </div>
</section>

<!-- 撰寫 album 區塊 -->
<section id="album">
  <div class="container">
    <div class="album-wrapper" id="data-panel-petlist">
      <!-- phote example -->
      {{#each pets}}
      <div class="card">
        <img
          src="/{{this.image}}"
          alt="{{this.name}}" class="card-img">
        <div class="card-text">
          <h3 class="card-title">{{this.name}}</h3>
          <p class="card-description">{{this.age}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

  <!-- 撰寫 adoption 區塊 -->
  <section id="adoption">
    <div class="container">
      <div class="adoption-wrapper">
        <img src="/images/information/info-photo-1.avif" alt="" class="adoption-image">
  
        <div class="adoption-info">
          <h3 class="adoption-title">領養毛小孩</h3>
          <p class="adoption-description">用領養代替購買, 帶毛小孩一起回家吧!</p>
          <a href="javascript:void(0)" class="action">領養去</a>
        </div>
      </div>
    </div>
  </section>